<div class="main-cont">
  <div class="b-image">
    <div class="container-fluid py-2">

      <nav class="navbar nav-bg bg-body-tertiary py-1">
        <div class="container-fluid pe-0">
          <a class="navbar-brand" href="https://github.com/ollama/ollama/blob/main/docs/api.md">
            <img src="../assets/imgs/ollama2.png" alt="Logo" class="logo-styles d-inline-block align-text-top">
          </a>
          <div class="navbar-brand d-flex flex-row align-items-center">
            <a class="link-box-shadow p-2 me-4   text-decoration-none fw-medium"
              href="https://github.com/ollama/ollama"><img class="pe-1 pb-1" style="height: 20px"
                src="../assets/imgs/Githublogo.png">Ollama GitHub</a>
            <a class="link-box-shadow p-2 me-4   text-decoration-none fw-medium" href="https://ollama.com/"><img
                class="pe-2 pb-1" style="height: 22px" src="../assets/imgs/ollamalogo.png">Ollama.ai</a>
            <img src="../assets/imgs/logo1.png" alt="Logo" class="logo-styles d-inline-block align-text-top">
          </div>
        </div>
      </nav>

      <div class="px-5 pt-5 row">
        <div class="col-5 mb-3">
          <div class="prompt-cont px-4 py-2">
            <h1 class="text-primary bg-transparent fs-4"><i class="fa-solid fa-microchip me-2"></i>Prompt</h1>
            <!-- <input placeholder="Enter your prompt" class="input-styles mt-2" [(ngModel)]="userMessage"
              (keydown.enter)="sendMessage()" /> -->
            <textarea placeholder="Enter your prompt" class="textarea-styles mt-2" [(ngModel)]="userMessage"
              (keydown.enter)="sendMessage()" rows="5"></textarea>
            <button type="button" class="btn btn-primary my-3 w-100 fw-medium" (click)="sendMessage()">Send</button>
            <button type="button" class="btn btn-primary mb-3 w-100 fw-medium" (click)="clearMessage()">Clear</button>
          </div>
        </div>

        <div class="col-7">
          <div class="px-4 response-cont py-2">
            <div class="d-flex flex-row justify-content-between align-items-center">
              <h1 class="text-primary fs-4 "><i class="fa-solid fa-robot me-2"></i>Response</h1>
              <button *ngIf="formattedResponse.length > 0" class="btn1 btn-outline-secondary btn-sm"
                [class.btn-copied]="isCopied" (click)="copyToClipboard()">
                <i [class.fa-regular]="!isCopied" [class.fa-solid]="isCopied" [class.fa-clipboard]="!isCopied"
                  [class.fa-clipboard-check]="isCopied"></i>
                {{ copyButtonText }}
              </button>
            </div>
            <!-- <div class="loader-dots" *ngIf="showLoader">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div> -->
            <div class="text-dark text-center" *ngIf="showLoader">
              <div class="loader-container">
                <div class="loader-ring"></div>
                <div class="loader-ring"></div>
              </div>
            </div>
            <div class="response-card px-3 py-2 mb-2 mt-3" *ngIf="formattedResponse.length > 0">
              <div class="" *ngFor="let line of formattedResponse">
                <p class="text-dark data">{{ line }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>